@font-face {
	font-family:title;
	src:url('/fonts/Podkova-Regular.ttf');
}

* { border:0; font-size:1em; margin:0; padding:0; }
body { background:#F5EED7; font:normal normal 1em/1.4em corbel, serif; }
ul { list-style:square; margin:0 0 0 1em; }
ul li { margin:0 0 0.5em 0; }

#site {  } 

header {  display:block; }
header h1 { color:#176573; font:normal 1.6em title, Arial, sans-serif; margin:1em 0.5em; text-shadow:0 1px 0 #FFF; }
footer .logo { float:left; margin:0 1em 0 0; }
footer .license { float:left; }
footer .license p { display:none; }

form#search { position:absolute; right:4px; top:4px; }
form#search fieldset > * { padding:2px; }

nav#primary { background:#176573; border-bottom:2px solid #176573; list-style:none; margin:0 0 1em 0; overflow:auto; -webkit-box-shadow:0 0 1em #888; }
nav#primary a { float:left; margin:0 1em 0 0; color:#FFF; font:bold 1em title; letter-spacing:0.4em; padding:0.5em 1em; text-decoration:none; text-transform:uppercase; text-shadow:0 1px 0 #222; }
nav#primary a:hover { background:#8E9E63; text-shadow:0 0 1em #CCC; }

#main { display:block; padding:1em; margin:1em 0 0 0; overflow:auto; }
#main h2 { background:#FFF; clear:both !important; font:bold 1.6em title, sans-serif; float:left; margin:0 0 1em 0; padding:0.5em; -webkit-box-shadow:2px 2px 0 #CCC;}
#main > form { border:1px solid #CCC; margin:0 0 1em 0; padding:1em; }
#main > form fieldset legend { font-weight:bold; margin:0 0 1em 0; text-transform:uppercase; }
#main select, input { background:#FFE; color:#000; border:1px solid #DDD; padding:0.5em; }

footer { background:#333 -webkit-linear-gradient(top, #278593, #176573); color:#FFF; display:block; margin:1em 0 0 0; padding:1em; text-align:right; box-shadow:inset 0 2px 0 rgba(220, 220, 220, .9); }
footer a { color:#FFF; }
footer p { margin:0 0 0.5em 0; }

table { border:1px solid #CCC; border-collapse:collapse; }
table tbody tr { border-bottom:1px solid #CCC; }
table tbody tr td { padding:1em; vertical-align:top; } 

article {}
article section { background:#FFF; border:1px solid #C4BCA0; display:block; margin:0 1em 1em 0; padding:1em; width:40em; box-shadow:inset 0 2px 0.5em #222; }
article section h2 {  }
article section p { clear:left; font-style:italic; text-indent:2em; margin:0 0 1em 0; }